@import '../../settings';

.reset-password-form {
  font-size: $medium-size;
  margin: 0 auto;
  padding: 50px 30px;
}

.reset-password-submit {
  padding-top: 20px;
  text-align: center;

  button {
    min-width: 200px;
  }
}

.reset-password-invalid {
  text-align: center;
}

.back-to-login {
  margin-top: 50px;
  text-align: center;
}

@include media-breakpoint-up(md) {
  .reset-form {
    @include theme-aware('background-color', 'box-color');
    border-radius: 10px;
    box-shadow: $box-shadow;
    padding: 50px;
    width: 450px;
  }
}
